{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Editar actividad{% endblock %}

{% block contenido  %}
    <div class="centered"><h1>Editar actividad</h1></div>
    <div class="formulario">
        <form method="post" enctype="multipart/form-data" class="col-md-8">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br/>
            <div class="row">
                <div class="centered">
                    <button class="btn btn-success" id="boton_actualizar_actividad"> Guardar cambios </button>
                    <a class="btn btn-danger" href="{% url 'catalogo:actividad_detail' id %}" class="cancel">Cancelar</a>
                </div>
            </div>
        </form>
        <br/>
    </div>
{% endblock %}
{% block extra_script %}
    <script>
        var instrucciones = $('#id_instrucciones');
        instrucciones.attr('onkeyup','countInstrucciones()')
        var max = instrucciones.attr('maxlength');
        var tam = instrucciones.val().length;
        instrucciones.after("<div id=\"id_instrucciones_count\">" + (max-tam) + " restantes</div>")

        var descripcion = $('#id_descripcion');
        descripcion.attr('onkeyup','countDescripcion()')
        var max2 = descripcion.attr('maxlength');
        var tam2 = descripcion.val().length;
        descripcion.after("<div id=\"id_descripcion_count\">" + (max2-tam2) + " restantes</div>")

        function countInstrucciones() {
            var instrucciones = $('#id_instrucciones');
            var max = instrucciones.attr('maxlength');
            var contador = $('#id_instrucciones_count');
            var val = instrucciones.val();
            var newLines = val.match(/(\r\n|\n|\r)/g);
            var addition = 0;
            if (newLines != null) {
                addition = newLines.length;
            }
            var tam = val.length + addition
            console.log(val.length)
            console.log(addition)
            contador.text((Number(max) - tam) + ' caracteres restantes');
        }

        function countDescripcion() {
            var descripcion = $('#id_descripcion');
            var max = descripcion.attr('maxlength');
            var contador = $('#id_descripcion_count');

            var val = descripcion.val();
            var newLines = val.match(/(\r\n|\n|\r)/g);
            var addition = 0;
            if (newLines != null) {
                addition = newLines.length;
            }
            var tam = val.length + addition
            console.log(val.length)
            console.log(addition)
            contador.text((Number(max) - tam) + ' caracteres restantes');
        }
    </script>
{% endblock %}