{% extends 'base.html' %}
{% load static %}

{% block title %}{{ herramienta.nombre }}{% endblock %}

{% block contenido  %}
    {% csrf_token %}
    {% if user.perfil.role == 1 and herramienta.estado == 3 or herramienta.estado == 6 %}
        <div class="modal fade" id="elminarModal" tabindex="-1" role="dialog" aria-labelledby="elminarModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="elminarModalLabel">Advertencia</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Tenga en cuenta que eliminar una herramienta es un proceso irreversible.
                            Escriba el nombre de la herramienta {{ herramienta.nombre }} para poder continuar.
                        </p>
                        <input onkeyup="deleteEnable('{{herramienta.nombre}}')"  type="text" class="form-control" id="herramienta_name">
                    </div>
                    <div class="modal-footer">
                        <form method="post" >
                            {% csrf_token %}
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button id="eliminar_herramienta_btn_modal" class="btn btn-danger2" type="submit"  id="boton_eliminar_herramienta" disabled="true">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="{{message.tags}}  alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p id="mensaje">{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div >
        <div class="detalle">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-9">
                        {% if herramienta.estado == 1 or herramienta.estado == 2 %}
                            <h1>Versión modificada: {{ herramienta.nombre }}</h1>
                        {% else%}
                            <h1>{{ herramienta.nombre }}</h1>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <div>
                            {% if user.is_authenticated %}
                                {% if herramienta.estado == 1 %}
                                    <a  id="revisar_herramienta_btn" class="btn btn-success" href="{% url 'catalogo:revisar' herramienta.id %}">Aprobar</a>
                                    <a  id="revisar_herramienta_btn" class="btn btn-success" href="{% url 'catalogo:herramienta_update_revision' herramienta.id %}">Editar</a>
                                {% elif herramienta.estado == 2 %}
                                    <a id="publicar_herramienta_btn" class="btn btn-success" href="{% url 'catalogo:publicar' herramienta.id %}">Publicar herramienta</a>
                                {% elif herramienta.estado == 6 %}
                                    <a id="publicar_herramienta_btn" class="btn btn-success" href="{% url 'catalogo:herramienta_update' herramienta.id %}">Continuar edición</a>
                                    <a id="agregar_actividad_btn" class="btn btn-success" title="Agregar Actividad" href="{% url 'catalogo:actividad_create' herramienta.id %}">Añadir Actividad</a>
                                    <button id="eliminar_herramienta_btn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#elminarModal">Eliminar</button>
                                {% elif herramienta.estado == 3 %}
                                    <a id="editar_herramienta_btn" href="{% url 'catalogo:herramienta_update' herramienta.id %}" class="btn btn-success">Crear una edición</a>
                                    {% if user.perfil.role == 1 %}
                                        <button id="eliminar_herramienta_btn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#elminarModal">Eliminar</button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 ">
                        {% if not herramienta.logo == "default"  %}
                            <img class="logo-herramieta" src={{ herramienta.logo }} alt="{{"logo de " }}{{herramienta.nombre}}">
                        {% else %}
                            <img class="logo-herramieta" src="{% static 'img/no_img_herramienta.png' %}"  alt="{{"no logo de " }}{{herramienta.nombre}}">
                        {% endif %}
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <div><div><strong>Descripción:</strong></div><div>{{ herramienta.descripcion }}</div></div>
                            <div><div><strong>Sistema Operativo:</strong></div><div>{{ herramienta.sistemaOperativo }}</div></div>
                            <div><div><strong>URL:</strong></div><div><a href="{{ herramienta.urlReferencia }}" target="_blank">{{ herramienta.urlReferencia }}</a></div></div>
                            <div><div><strong>Plataforma:</strong></div><div>{{ herramienta.plataforma }}</div></div>
                            <div><div><strong>Licencia:</strong></div><div>{{ herramienta.licencia }}</div></div>
                            <div><div><strong>Estado:</strong></div><div>{{ herramienta.estado }}</div></div>
                            <div >

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        {% if user.is_authenticated and herramienta_old %}
            {% if herramienta.estado == 1 or herramienta.estado == 2 or herramienta.estado == 6 %}
                <div class="detalle">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-9">
                                <h1> Versión anterior:{{ herramienta.nombre }}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 ">
                                {% if not herramienta_old.logo == "default"  %}
                                    <img class="logo-herramieta" src={{ herramienta_old.logo }} alt="{{"logo de " }}{{herramienta_old.nombre}}">
                                {% else %}
                                    <img class="logo-herramieta" src="{% static 'img/no_img_herramienta.png' %}"  alt="{{"logo de " }}{{herramienta_old.nombre}}">
                                {% endif %}
                            </div>
                            <div class="col-sm-9">
                                <div>
                                    <div><div><strong>Descripción:</strong></div><div>{{ herramienta_old.descripcion }}</div></div>
                                    <div><div><strong>Sistema Operativo:</strong></div><div>{{ herramienta_old.sistemaOperativo }}</div></div>
                                    <div><div><strong>URL:</strong></div><div><a href="{{ herramienta_old.urlReferencia }}" target="_blank">{{ herramienta_old.urlReferencia }}</a></div></div>
                                    <div><div><strong>Plataforma:</strong></div><div>{{ herramienta_old.plataforma }}</div></div>
                                    <div><div><strong>Licencia:</strong></div><div>{{ herramienta_old.licencia }}</div></div>
                                    <div><div><strong>Estado:</strong></div><div>{{ herramienta_old.estado }}</div></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                </div>
            {% endif %}
        {% elif not herramienta.estado == 6  %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Tutoriales</div>
                        <div class="panel-body">
                            <p>En esta lista se encuentran los tutoriales realizados con {{ herramienta.nombre }}</p>
                        </div>
                        <!-- List group -->
                        <div class="list-group">
                            <a class="list-group-item">
                                tutorial 1
                            </a>
                            <a class="list-group-item">
                                tutorial 2
                            </a>
                            <a class="list-group-item">
                                tutorial 3
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->

                        <div class="panel-heading">Actividades
                            {% if herramienta.estado == 6 or herramienta.estado == 3 %}
                                <a data-toggle="tooltip" data-placement="auto" title="Agregar Actividad" href="{% url 'catalogo:actividad_create' herramienta.id %}" class="float" id="boton_agregar_actividad" >
                                    <i class="fa fa-plus my-float" ></i>
                                </a>
                            {% endif %}
                        </div>

                        <div class="panel-body">
                            <p>En esta lista se encuentran las actividades que se relacionan con {{ herramienta.nombre }}</p>
                        </div>
                        <!-- List group -->
                        {% if herramienta.estado == 6 or herramienta.estado == 3 %}
                            <div class="list-group">
                                {% for actividad in actividades %}
                                    <a class="list-group-item" href="{% url 'catalogo:actividad_detail' actividad.id %}">{{ actividad.nombre }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
{% block extra_script %}
    {% if user.perfil.role == 1 and herramienta.estado == 3 or herramienta.estado == 6%}
        <script>
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()

            });
            function deleteEnable(val) {
                var name = $('#herramienta_name').val();
                if(name===val.toString()){
                    $('#eliminar_herramienta_btn_modal').removeClass("disabled");
                    $('#eliminar_herramienta_btn_modal').prop('disabled', false);
                }else{
                    $('#eliminar_herramienta_btn_modal').addClass("disabled");
                    $('#eliminar_herramienta_btn_modal').prop('disabled', true);
                }
            }
        </script>
    {% elif herramienta.estado == 1 or herramienta.estado == 2 %}
        <script>
            $(".nav").find(".active").removeClass("active");
            var actual = $("#vigiaNav")
            $(actual).addClass("active");
        </script>
    {% elif herramienta.estado == 6%}

        <script>
            $(".nav").find(".active").removeClass("active");
            var actual = $("#mis_borradores_nav")
            $(actual).addClass("active");
        </script>
    {% endif %}
{% endblock %}

