{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Agregar herramienta{% endblock %}

{% block contenido  %}
    <div >
        <div class="centered"><h1>Agregar herramienta a Conecta-Te</h1></div>
        <div class="formulario">
            <form class="bs-example bs-example-form col-md-8" action="{% url 'catalogo:herramienta_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br/>
                <div class="row">
                    <div class="centered">
                        <button class="btn btn-success" id="boton_add">Añadir</button>
                        <a class="btn btn-danger" href="{% url 'catalogo:index' %}" class="cancel">Cancelar</a>
                    </div>
                    <br/>
                </div>
            </form>
            <br/>
        </div>

    </div>

{% endblock %}
{% block extra_script %}
    <script>
        var fichaTecnica = $('#id_fichaTecnica');
        fichaTecnica.attr('onkeyup','countFichaTecnica()')
        var max = fichaTecnica.attr('maxlength');
        var tam = fichaTecnica.val().length;
        fichaTecnica.after("<div id=\"id_fichaTecnica_count\">" + (max-tam) + " restantes</div>")

        var descripcion = $('#id_descripcion');
        descripcion.attr('onkeyup','countDescripcion()')
        var max2 = descripcion.attr('maxlength');
        var tam2 = descripcion.val().length;
        descripcion.after("<div id=\"id_descripcion_count\">" + (max2-tam2) + " restantes</div>")

        function countFichaTecnica() {
            var fichaTecnica = $('#id_fichaTecnica');
            var max = fichaTecnica.attr('maxlength');
            var contador = $('#id_fichaTecnica_count');
            var val = fichaTecnica.val();
            var newLines = val.match(/(\r\n|\n|\r)/g);
            var addition = 0;
            if (newLines != null) {
                addition = newLines.length;
            }
            var tam = val.length + addition
            console.log(val.length)
            console.log(addition)
            contador.text((Number(max) - tam) + ' caracteres restantes');
        }

        function countDescripcion() {
            var descripcion = $('#id_descripcion');
            var max = descripcion.attr('maxlength');
            var contador = $('#id_descripcion_count');

            var val = descripcion.val();
            var newLines = val.match(/(\r\n|\n|\r)/g);
            var addition = 0;
            if (newLines != null) {
                addition = newLines.length;
            }
            var tam = val.length + addition
            console.log(val.length)
            console.log(addition)
            contador.text((Number(max) - tam) + ' caracteres restantes');
        }
    </script>
{% endblock %}