{% extends 'base.html' %}
{% load static %}

{% block title %}{{ herramienta.nombre }}{% endblock %}

{% block contenido  %}
    {% csrf_token %}

    <div >
        <div class="detalle">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-9">
                        <h1>{{ herramienta.nombre }}</h1>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            {% if user.is_authenticated and user.perfil.role == 1 %}
                                <a id="editar_herramienta_btn" href="{% url 'catalogo:herramienta_update' herramienta.id %}" class="btn btn-success">Editar</a>
                                <a id="eliminar_herramienta_btn" href="{% url 'catalogo:herramienta_delete' herramienta.id %}" class="btn btn-danger">Eliminar</a>
                            {% elif user.is_authenticated and user.perfil.role == 2 %}
                                <a id="editar_herramienta_btn" href="{% url 'catalogo:herramienta_update' herramienta.id %}" class="btn btn-success">Editar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 ">
                        {% if herramienta.logo  %}
                            <img class="logo-herramieta" src={{ herramienta.logo }} alt="{{"logo de " }}{{herramienta.nombre}}">
                        {% else %}
                            <img class="logo-herramieta" src="{% static 'img/no_img_herramienta.png' %}"  alt="{{"logo de " }}{{herramienta.nombre}}">
                        {% endif %}
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <div><div><strong>Descripción:</strong></div><div>{{ herramienta.descripcion }}</div></div>
                            <div><div><strong>Sistema Operativo:</strong></div><div>{{ herramienta.sistemaOperativo }}</div></div>
                            <div><div><strong>URL:</strong></div><div><a href="{{ herramienta.urlReferencia }}" target="_blank">{{ herramienta.urlReferencia }}</a></div></div>
                            <div><div><strong>Plataforma:</strong></div><div>{{ herramienta.plataforma }}</div></div>
                            <div><div><strong>Licencia:</strong></div><div>{{ herramienta.licencia }}</div></div>
                            <div >

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br/>
        </div>

    </div>

{% endblock %}
