{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio Sesión{% endblock %}

{% block contenido  %}
    <div class="wrapper2 p10">
        <div class="inicio">
            <img src="{% static 'img/logo-Conectate.png' %}" alt="Logo Conectate"/>
        </div>
        <div >
            {% if mensaje %}
                <div class="alert alert-danger">
                    {{ mensaje }}
                </div>
            {% endif %}
            <div class="formulario">
                <form method="post" action="">
                    {% csrf_token %}
                    <label class="control-label" for="username">Nombre de usuario</label>
                    <input type="text" id="username" name="username" class="form-control"/>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control"/>
                    <br/>
                    <div class="centered">
                        <button type="submit" class="btn btn-success" id="boton_login">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
