{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Cambio de contraseña{% endblock %}

{% block contenido  %}
    <div class="centered"><h1>Cambio de contraseña</h1></div>
    <div class="formulario">
    <form method="post" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success" >Guardar cambios</button>
        <a class="btn btn-danger" href="{% url 'catalogo:index' %}" class="cancel">Cancelar</a>
        <br/>
    </form>
    </div>
{% endblock %}
