body, html{
    width: 100%;
    height: 100%;
    background: #ECECEC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


.login-btn:hover{
    color: #21a9af;
    background-color: white;
}

.search{
    margin: 3em;
}
.searchTerm {
    border: 3px solid #00B4CC;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #21a9af;
}

.searchButton {
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}


/*herramientas*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: 2vw;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.contenidoCatalogo{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
}
.float{
	position:absolute;
	width:40px;
	height:40px;
	right:35%;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:12px;
}
.centered {
    position: relative;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}
.centered-left {
    position: relative;
    top:0;
    left: 0;
    right: 0;
    margin-right: 2vw;
    margin-left: auto;
}
.bellow{
  margin-top: 1vmax;
}
/*end herramientas*/




